<!DOCTYPE html>
{% include "header.html" %}

<h2>Add Data</h2>

{%with messages = get_flashed_messages()%}

                {%if messages%}

                {% for message in messages %}
<h3>{{message}}</h3>
 {%endfor%}
    {%endif%}
    {%endwith%}
<form action="/insert" method="POST">


               <div class="form-group">
                  <label>ID:</label>
                  <input type="text" class="form-control" name="id" required="1">
               </div>

                <div class="form-group">
                  <label>Symbol:</label>
                  <input type="text" class="form-control" name="symbol" required="1">
               </div>


                <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
               </div>



               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Insert Data</button>
               </div>


<div class="modal-footer">
           <button type="button"  class="btn btn-success pull-right" data-toggle="modal" data-target="#mymodal">

                    <a href="/viewdata">Back
                    </a></button>
 </div>
            </form>




